body {
    background: bisque;
    display: flex;
    font-family: "Comic Sans MS", sans-serif;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

form {
    text-align: center;
    min-width: 400px;
    padding: 10px;
    background: aliceblue;
}

input {
    transition: .2s ease;
    border-radius: 5px;
    background: white;
}

input[type=submit] {
    transform: scale(1.2);
    font-family: inherit;
}

input:hover {
    transition: .2s ease-out;
    transform: scale(1.1);
}

input::placeholder {
    font-family: "Comic Sans MS", sans-serif;
}

.error {
    color: red;
}

.ui-button {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
    transition: .2s ease;
    border-radius: 5px;
    background: white;
}

a:hover {
    transform: scale(0.9);
    text-decoration: none;
}

.ui-button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
    transition: .2s ease-out;
    transform: scale(1.1);
}

.ui-button::placeholder {
    font-family: "Comic Sans MS", sans-serif;
}
