body {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    width: 500px;
}

img {
    width: 200px;
    height: 200px;
}
